<!DOCTYPE html>
<html lang="en">

{{>headlinks}}

<body>

    
    {{>navbar}}
    
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/about.jpeg" width="500"  height="600" alt="saqib" class="img-fluid">
                </figure>
                 
               
              </div>
              <div class="col-md-6 col-12 main_header_left">
                
                <h1>I Am A <span class="span">Backend Web Developer</span> and Currently doing Software Engineering From NUST.</h1>
                <p>Click on the Button below to view my github Acoount</p>
                <a href="https://github.com/saqiburrehman704" target="_saqib"> <button>Click Me</button></a>
              </div>
             
            </div>
          </div>
      </div>
    </div>


   {{>footer}}

</body>
</html>